# model checkpoints and logs
log/
checkpoints/
*.pth
*.log
*.txt



# link and symbolic link
*/**/@*
*/**/*.lnk
*/**/*.sym
*/**/*.symbolic


**/data/
**/data
*.npy
*.npz
*.obj
*.ply
*.las

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# IDE and editor files
.idea/
.vscode/
*.swp
*.swo

# System files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# visual output
visual/
*.jpg
*.jpeg

# ignore local batch scripts
qp.bat